@use "styles" as *;

@keyframes openmenu {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes closemenu {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes removebottomline {
  from {
    transform: translateY(0);
  }
  
  to {
    transform: translateY(-10px);
  }
}

@keyframes returnbottomline {
  from {
    opacity: 0;
    transform:translateY(-10px);
  }

  17% {
    opacity: 0;
    transform: translateY(-10px);
  }

  40% {
    opacity: 1;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateback1 {
  from {
    transform: rotate(-45deg) translateY(10px) translateX(-5px);
  }

  to {
    transform: rotate(0) translateY(0) translateX(0);
  }
}
@keyframes rotateback2 {
  from {
    transform: rotate(45deg) translateX(3px);
  }

  to {
    transform: rotate(0) translateX(0);
  }
}


@keyframes navitemappear1 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// WAIT 200 ms
@keyframes navitemappear2 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  25% {
    transform: translateY(0);
    opacity: 0;
  }

  63% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// WAIT 400 ms
@keyframes navitemappear3 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  40% {
    transform: translateY(0);
    opacity: 0;
  }

  70% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//WAIT 600 ms
@keyframes navitemappear4 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    transform: translateY(0);
    opacity: 0;
  }

  75% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
//WAIT 800ms
@keyframes navitemappear5 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  57% {
    transform: translateY(0);
    opacity: 0;
  }

  79% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

//WAIT 1000ms
@keyframes navitemappear6 {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  63% {
    transform: translateY(0);
    opacity: 0;
  }

  82% {
    transform: translateY(-10px);
    opacity: 1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-bubble {
  display: none;

  @include breakpoint(sm) {
    display:block;
    position: fixed;
    top: 5px;
    right:5px;
    z-index: 1000;
    border-radius: 4px;
    padding: 1rem;
    transition-duration: 300ms;

    &-icon {
      position:absolute;
      right: 10px;
      border-radius: 50%;
      background-color: $primary;
      max-width: 70px;
      width: 70px;
      max-height: 70px;
      height: 70px;
      z-index: 2000;

      &-line {
        max-width: 40px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 15px;

        &:nth-of-type(1) {
          top: 5px;
        }
        &:nth-of-type(2) {
          top: 15px;
        }
        &:nth-of-type(3) {
          top: 25px;
        }
      }
    }

    &-menu {
      position: fixed;
      right: 5px;
      top: 5px;
      z-index: 500;
      transition-duration: 1s;

      &-bg {
        background-color: $primary;
        position: fixed;
        right: 30px;
        top: 30px;
        border-radius: 50%;
        transition-duration: 500ms;
        transition-delay: right 500ms top 500ms;
      }

      &-item {
        font-size: pxToRem(36px);
        position: fixed;
        z-index: 2000;
        text-decoration: none;
        color: $primary;

        &:nth-of-type(1) {
          top: 30vh;
          right: 5vw;
        }
        &:nth-of-type(2) {
          top: 37vh;
          right: 8vw;
        }
        &:nth-of-type(3) {
          top: 44vh;
          right: 11vw;
        }
        &:nth-of-type(4) {
          top: 51vh;
          right: 14vw;
        }
        &:nth-of-type(5) {
          top: 58vh;
          right: 17vw;
        }
        &:nth-of-type(6) {
          top: 65vh;
          right: 20vw;
        }
      }
    }

    &-closed {
      &-icon {

        animation-name: closemenu;
        animation-duration: 1s;

        .nav-bubble-icon-line {
          animation-duration: 1s;
          transform: none;
          &:nth-of-type(1) {
            animation-name: rotateback1;
          }
          &:nth-of-type(2) {
            animation-name: rotateback2;
          }
          &:nth-of-type(3) {
            animation-name: returnbottomline;
            animation-duration: 1.2s;
            opacity: 1s;
          }
        }
        
      }

      &-menu {
        height: 1px;
        width: 1px;
        border-radius: 50%;

        &-bg {
          height: 1px;
          width: 1px;
        }

        &-item {
          visibility: hidden;
        }
      }
  
    }
  
    &-open {
      &-icon {

        animation-name: openmenu;
        animation-duration: 1s;
        background-color: transparent;

        .nav-bubble-icon-line {
          transition-duration: 300ms;
          &:nth-of-type(1) {
            transform: rotate(-45deg) translateY(10px) translateX(-5px);
            transition-delay: 300ms;
          }
          &:nth-of-type(2) {
            transform: rotate(45deg) translateX(3px);
            transition-delay: 300ms;
          }
          &:nth-of-type(3) {
            animation-name: removebottomline;
            animation-duration: 300ms;
            transition-delay: opacity 500ms;
            opacity: 0;
          }
        }

      }

      &-menu {
        display:block;
        height: 100vh;
        width: 100vw;
        border-radius: 50%;

        &-bg {
          right: -100px;
          top: -200px;
          height: 50rem;
          width: 50rem;
        }

        &-item {
          color:white;
          visibility: visible;
          &:nth-of-type(1) {
            animation-name: navitemappear1;
            animation-duration: 600ms;
          }
          &:nth-of-type(2) {
            animation-name: navitemappear2;
            animation-duration: 800ms;
          }
          &:nth-of-type(3) {
            animation-name: navitemappear3;
            animation-duration: 900ms;
          }
          &:nth-of-type(4) {
            animation-name: navitemappear4;
            animation-duration: 1000ms;
          }
          &:nth-of-type(5) {
            animation-name: navitemappear5;
            animation-duration: 1100ms;
          }
          &:nth-of-type(6) {
            animation-name: navitemappear6;
            animation-duration: 1200ms;
          }
        }
      }
  
    }
  }
}