@use "sass:math";

$defaultFontSize: 20px;

@function pxToRem($pxList) {
  $returnVal: ();
  @for $i from 1 through length($pxList) {
    @if (nth($pxList, $i) != 0) {
      $returnVal: append($returnVal, math.div(nth($pxList, $i), $defaultFontSize) * 1rem);
    } @else {
      $returnVal: append($returnVal, 0rem);
    }
  }
  @return $returnVal;
}

@mixin breakpoint($class...) {
  @each $class in $class {
    @if $class == na {
      @media (max-width: 359px) {
        @content;
      }
    } @else if $class == xs {
      @media (max-width: 420px) {
        @content;
      }
    } @else if $class == sm {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $class == md {
      @media (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    } @else if $class == lg {
      @media (min-width: 992px) and (max-width: 1200px) {
        @content;
      }
    } @else if $class == xl {
      @media (min-width: 1200px) and (max-width: 1920px) {
        @content;
      }
    } @else if $class == xxl {
      @media (min-width: 1920px) {
        @content;
      }
    } @else {
      @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
  }
}

