.card-wrapper {
    border: 1px solid white;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0);
}

.card-header {
    margin-bottom: 3vh;
}

.card-title {
}

.card-subtitle {
}

hr {
    background-color: white;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
    height: 1px;
    border: none;
}

.card-content {
}
