body,
html,
#root {
    color: white;
    margin: 0;
    height: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: rgb(240, 240, 240);
}
