@use "styles" as *;

.posts {
  display: flex;
  flex-flow: row nowrap;
  padding: 2rem;

  &-body-head {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
  }

  &-title {
    text-decoration: underline;
    justify-self: center;
    display: inline;
    margin: 0;
  }

  &-menu {
    display: none;

    img {
      max-width: 50px;
    }

    @include breakpoint(sm) {
      display:inline;
    }
  }


  &-list {
    min-height: 100vh;
    margin: 2rem 2rem 2rem 6rem;
    width: 85%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:center;

    &-show-btn {
      border-radius: 4px;
      background-color: rgba(60,60,60,.5);
      padding: 5px 1rem;

      &:hover {
        cursor: pointer;
      }
    }

  }
  @include breakpoint(sm) {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    &-list {
      margin: 0;
      justify-content: center;
      padding: 1rem 0;
      width: unset;
    }
  }

  &-index {
    border: 1px solid $primary;
    border-radius: 4px;
    padding: 1rem;
    margin: 2rem 6rem 2rem 0;
    background-color: white; 
    width: 15%;
    height: fit-content;
    position: sticky;

    &-title {
      color: black;
      font-weight: bold;
      border-bottom: 1px solid $primary;
      margin-bottom: 1rem;
    }

    &-list {
      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
    }

    @include breakpoint(sm) {
      margin: 0;
      display: none;
      width: unset;
    }
  }
}