.canvas {
    align-content: center;
    padding: 3vh 3vw;
}

.card-wrapper {
    border-radius: 10px;
    padding: 2vh 2vw;
    border: 1px solid white;
    box-shadow: 2px 4px 6px rgb(0, 0, 0, 0.4),
        inset 2px 4px 6px rgb(0, 0, 0, 0.4), inset 0 4px 6px rgb(0, 0, 0, 0.2);
    text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.4);
}
