@use "styles" as *;

.header {
  min-height: 50vh;
  padding: 5rem 5rem 0;
  border-bottom: 1px solid $light;
  padding-bottom: 3rem;
  display: flex;
  flex-flow: column nowrap;
  font-family: $header-font-family;

  @include breakpoint(sm) {
    padding: 0;
  }
  
  &-generic {
    background: url("~images/backgrounds/comic-bg-primary.jpg") no-repeat center center;
    background-size: cover;
  }

  &-home {
    background: url("~images/backgrounds/top-view-desk-bg.jpg") no-repeat center center;
    background-position: bottom;
    background-size: cover;

    justify-content: flex-end;
    align-items: center;

    padding-left: 20%;
    padding-right: 20%;
    font-family: $header-font-family;

    @include breakpoint(sm) {
      padding: 0;
      background-position: right;
    }
  }

  &-projects {
    background: url("~images/backgrounds/projects-header-bg.jpg") no-repeat center center;
    background-size: cover;

    justify-content: flex-end;
  }

  &-posts {
    background: url("~images/backgrounds/posts-header-bg.jpg") no-repeat center;
    background-size: cover;
    background-position-y: -5rem;

    justify-content: flex-end;

    @include breakpoint(sm) {
      background-size: 200%;
      background-position: center;
    }
  }

  &-about {
    background: url("~images/backgrounds/about-header-bg.jpg") no-repeat center center;
    background-size: cover;
    justify-content: flex-end;

    @include breakpoint(sm) {
      background-size: cover;
    }
  }

  &-contact-me {
    background: url("~images/backgrounds/contact-me-header.jpg") no-repeat bottom right;
    background-size: cover;
    color: $dark;
    justify-content: center;
    align-items: flex-start;

  }

  &-title {
    h1 {
      font-size: $h1-font-size;
      font-family: $header-font-family;
    }

    &-home {
      color: $accent;
      text-align: center;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      width:fit-content;
      padding: 0 1rem;

      @include breakpoint(sm) {
        margin-top: 10vh;
        padding: 0;
        // color: $primary;
        text-shadow: -1px -1px 0 $secondary, 1px -1px 0 $secondary, -1px 1px 0 $secondary, 1px 1px 0 $secondary;
      }
    }

    &-projects {
      background-color: rgba(0,0,0,.8);
      padding: 0 1rem;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      h1 {
        margin: 1rem 0;
      }
    }

    &-posts {
      background-color: rgba(0,0,0, .5);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 0 1rem 0;

      @include breakpoint(sm) {
        margin-top: 5rem;
        background-color: transparent;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
      }

      h1 {
        margin: 1rem 0;
      }

    }
    &-about {
      @include breakpoint(sm) {
        h1 {
          margin: 1rem 1rem .5rem;
        }
      }
    }

    &-contact-me {

    }


  }

  &-subtitle {
    font-size: pxToRem(48px);
      
    &-home {
      text-align: center;
      color: black;
      margin: .5rem;
      font-weight: bold;

      @include breakpoint(sm) {
        background-color: rgba(black,.5);
        color: white;
        font-size: pxToRem(40px);
        border-radius: 4px;
      }
    }

    &-projects {
      padding: 0 1rem;
      background-color: rgba(0,0,0,.8);
      font-size: pxToRem(32px);
      font-weight: bold;
    }

    &-posts {
      font-size: pxToRem(32px);
      background-color: rgba(0,0,0,.5);
      padding: 0 1rem;
      font-weight: bold;
      @include breakpoint(sm) {
        font-size: pxToRem(28px);
        background-color: transparent;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        text-align: center;
      }
    }

    &-about {
      @include breakpoint(sm) {
        font-size: pxToRem(28px);
        margin: 0 1rem .5rem;
      }
    }

  }

  &-content {
    font-size: pxToRem(24px);
    
    &-home {
      font-size: pxToRem(32px);
      background-color: rgba(250,250,250,.3);
      border-radius: 4px;
      padding: 1rem;
      margin-top: 1rem;
      color: black;

      @include breakpoint(sm) {
        background-color: transparent;
        font-size: pxToRem(26px);
        color: white;
        text-align: center;
        margin-top: 8rem;
      }
    }

    &-projects {
      background-color: rgba(0,0,0,.8);
      padding: 1rem;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &-posts {
      font-size: pxToRem(24px);
      background-color: rgba(0,0,0,.5);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 1rem;

      @include breakpoint(sm) {
        font-size: pxToRem(20px);
        padding: 0;
        margin: 1rem 2rem 2rem;
        padding: .5rem;
        border-radius: 4px;
        text-align: center;

      }
    }

    &-contact-me {
      max-width: 50vw;
    }
  }
}