.navbar {
    background-color: darkblue;
    border-bottom: 2px solid orange;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 30px;
    min-height: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
}

.navbar > a {
    color: white;
    text-decoration: none;
    background-color: skyblue;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar > a:hover {
    background-color: orange;
}
