@use "styles" as *;

.home {
  padding: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: $primary;

  @include breakpoint(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

.griffey {
  max-height: 50vh;
  width: max-content;
  margin: 5rem;
  border: 1px solid $light;;
  border-radius: 4px;
}