body,
html,
#root {
    color: white;
    margin: 0;
    height: 100%;
    font-family: "Arial";
    background: url("./images/backgrounds/comic-bg-blue.jpg") no-repeat;
    background-size: cover;
}

main {
    margin: 5rem;
}